@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaption';
    src: url('../fonts/PTC55F-webfont.eot.eot');
    src: url('../fonts/PTC55F-webfont.eot') format('embedded-opentype'),
         url('../fonts/PTC55F-webfont.woff') format('woff'),
         url('../fonts/PTC55F-webfont.woff') format('truetype'),
         url('../fonts/PTC55F-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PTSansCaption, GillSans, sans-serif;
    font-weight: bold;
    color: #666;
}

h1 {font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;} /* framatitle */

.trait {
    background-color: #EEE;
    height: 11px;
}


.violet { color : #6A5687}
.orange { color : #EB7E41}
.bleu { color :#0C5B7A }
.rouge { color :#CC2D18 }
.vert { color :#9BAE5F }
.jaune { color : #DBA306}

.hex, .rgb, .hsv { font-weight:normal; font-size:12px;}

.hex {float:right;}

.container.ombre {
    padding:20px 40px;
    margin-top:30px;
    margin-bottom:30px;
}

.row {
    margin-bottom: 20px;
}

.alert a {
    text-decoration: underline;
}
