<!DOCTYPE html>
<html>
    <head>
        <title>Comptes perdus - <?php echo TITLE; ?></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />

        <script src="https://framasoft.org/nav/nav.js" async></script>
        <script src="js/jquery.min.js" defer></script>
        <script src="js/bootstrap.min.js" defer></script>
        <script src="js/frama.board.js" defer></script>

        <link href="css/default.css" media="all" rel="stylesheet">
        <link href="css/frama.board.css" media="all" rel="stylesheet">
        <link href="css/bootstrap.min.css" media="all" rel="stylesheet">
    </head>
    <body class="fb-g3">
        <div class="container ombre">
            <div style="margin-bottom:20px">
                <?php
                    $title = TITLE;
                    if (starts_with($title, 'Frama')) {
                        $title = '<b class="violet">Frama</b>'
                               . '<b class="vert">' . substr($title, 5) . '</b>';
                    }
                ?>
                <h1 class="big-title">
                    <a href="//<?php echo URL_BASE; ?>"><?php echo $title; ?></a>
                </h1>

                <p class="lead">
                    La gestion de projets collaborative
                </p>

                <hr class="trait" role="presentation" />

                <h2>
                    Vous êtes perdu·e&nbsp;?
                </h2>

                <p>
                    Nous pouvons vous envoyer un courriel contenant les espaces
                    de travail auxquels vous êtes inscrit·e, ainsi que vos
                    identifiants de connexion.
                </p>

                <form class="form-horizontal" method="post" role="form">
                    <?php if ($error) { ?>
                        <div class="col-md-8 col-md-offset-2">
                            <p class="alert alert-danger">
                                <?= $error; ?>
                            </p>
                        </div>
                    <?php } ?>

                    <?php if ($success) { ?>
                        <div class="col-md-8 col-md-offset-2">
                            <p class="alert alert-success">
                                <?= $success; ?>
                            </p>
                        </div>
                    <?php } ?>

                    <div class="form-group <?= $error ? 'has-error' : ''; ?>">
                        <label class="col-sm-4 control-label" for="email">
                            Adresse courriel
                        </label>

                        <div class="col-sm-6">
                            <input
                                type="text"
                                class="form-control"
                                id="email"
                                name="email"
                                value="<?= $email ?>"
                                required
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-6">
                            <input
                                class="btn btn-primary"
                                type="submit"
                                value="Envoyer le courriel"
                                />
                        </div>
                    </div>
                </form>

                <hr role="presentation" />

                <div class="row">
                    <div id="tuto-faq" class="col-md-4">
                        <h2>Prise en main</h2>
                        <p class="text-center" role="presentation"><span class="glyphicon glyphicon-question-sign"></span></p>
                        <div id="aboutbox">
                            <p><span class="framalink"><?php echo URL_BASE; ?></span> est un service en ligne libre de gestion de tâches.</p>
                            <ol>
                                <li>Créez votre compte&nbsp;;</li>
                                <li>Connectez-vous à votre nouveau compte&nbsp;;</li>
                                <li>Commencez à gérer vos projets à travers votre Kanboard&nbsp;;</li>
                                <li>Lisez <a href="https://docs.kanboard.org/fr/latest/">la documentation</a> pour en savoir plus.</li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-4" id="le-logiciel">
                        <h2>Le logiciel</h2>
                        <p class="text-center" role="presentation"><span class="glyphicon glyphicon-cloud"></span></p>
                        <p><span class="framalink"><?php echo URL_BASE; ?></span> est une instance du logiciel <a href="https://kanboard.net/"><abbr>Kanboard</abbr></a> développé par <a href="https://github.com/fguillot">Frédéric Guillot</a>.</p>
                        <p><abbr>Kanboard</abbr> est sous licence <a href="http://opensource.org/licenses/MIT"><abbr title="Massachusetts Institute of Technology" lang="en">MIT</abbr></a>.</p>
                    </div>

                    <div class="col-md-4" id="jardin">
                        <h2>Cultivez votre jardin</h2>
                        <p class="text-center" role="presentation"><span class="glyphicon glyphicon-tree-deciduous"></span></p>
                        <p>Pour participer au développement du logiciel, proposer des améliorations
                           ou simplement le télécharger, rendez-vous sur <a href="https://github.com/kanboard/kanboard">le site de développement</a>.</p>
                        <p>Si vous souhaitez installer ce logiciel pour votre propre usage et ainsi gagner en autonomie, nous vous aidons sur&nbsp;:</p>
                        <p class="text-center"><a href="http://framacloud.org/cultiver-son-jardin/installation-de-kanboard/" class="btn btn-success"><span class="glyphicon glyphicon-tree-deciduous"></span> framacloud.org</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
